In [1]:
import pandas
import numpy

In [2]:
pwd

u'C:\\Users\\suh0902'

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\suh0902'

In [5]:
os.chdir('C:\Users\suh0902\Desktop\CP\dataset')

In [6]:
pwd

u'C:\\Users\\suh0902\\Desktop\\CP\\dataset'

In [7]:
data = pandas.read_csv('nesarc_pds.csv', low_memory=False)

In [9]:
data.head()

,ETHRACE2A,ETOTLCA2,IDNUM,PSU,STRATUM,WEIGHT,CDAY,CMON,CYEAR,REGION,...,SOL12ABDEP,SOLP12ABDEP,HAL12ABDEP,HALP12ABDEP,MAR12ABDEP,MARP12ABDEP,HER12ABDEP,HERP12ABDEP,OTHB12ABDEP,OTHBP12ABDEP
0,5,,1,4007,403,3928.613505,14,8,2001,4,...,0,0,0,0,0,0,0,0,0,0
1,5,0.0014,2,6045,604,3638.691845,12,1,2002,4,...,0,0,0,0,0,0,0,0,0,0
2,5,,3,12042,1218,5779.032025,23,11,2001,3,...,0,0,0,0,0,0,0,0,0,0
3,5,,4,17099,1704,1071.754303,9,9,2001,2,...,0,0,0,0,0,0,0,0,0,0
4,2,,5,17099,1704,4986.952377,18,10,2001,2,...,0,0,0,0,0,0,0,0,0,0

In [10]:
print (len(data.columns))

3008

In [11]:
print data[:10]

   ETHRACE2A ETOTLCA2  IDNUM    PSU  STRATUM       WEIGHT  CDAY  CMON  CYEAR  \
0          5               1   4007      403  3928.613505    14     8   2001
1          5   0.0014      2   6045      604  3638.691845    12     1   2002
2          5               3  12042     1218  5779.032025    23    11   2001
3          5               4  17099     1704  1071.754303     9     9   2001
4          2               5  17099     1704  4986.952377    18    10   2001
5          2   0.0021      6  17099     1704  2596.886503     7     9   2001
6          2   0.0033      7  17099     1704  3303.735140     1     9   2001
7          1   0.0271      8  41097     4107  3598.027143    18     9   2001
8          1   0.0295      9  45098     4503  3897.065911     9     1   2002
9          5   0.1565     10   4013      404  3008.554718    16     8   2001

   REGION      ...       SOL12ABDEP  SOLP12ABDEP  HAL12ABDEP  HALP12ABDEP  \
0       4      ...                0            0           0            0
1       4      ...                0            0           0            0
2       3      ...                0            0           0            0
3       2      ...                0            0           0            0
4       2      ...                0            0           0            0
5       2      ...                0            0           0            0
6       2      ...                0            0           0            0
7       4      ...                0            0           0            0
8       3      ...                0            0           0            0
9       4      ...                0            0           0            0

   MAR12ABDEP  MARP12ABDEP  HER12ABDEP  HERP12ABDEP  OTHB12ABDEP  OTHBP12ABDEP
0           0            0           0            0            0             0
1           0            0           0            0            0             0
2           0            0           0            0            0             0
3           0            0           0            0            0             0
4           0            0           0            0            0             0
5           0            0           0            0            0             0
6           0            0           0            0            0             0
7           0            0           0            0            0             0
8           0            0           0            0            0             0
9           1            0           0            0            0             0

[10 rows x 3008 columns]

In [12]:
print data['TAB12MDX']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       1
15       0
16       0
17       1
18       0
19       0
20       1
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
43063    0
43064    0
43065    0
43066    0
43067    0
43068    0
43069    0
43070    0
43071    0
43072    0
43073    0
43074    0
43075    0
43076    0
43077    0
43078    0
43079    0
43080    0
43081    0
43082    0
43083    0
43084    0
43085    0
43086    0
43087    0
43088    0
43089    0
43090    1
43091    1
43092    0
Name: TAB12MDX, dtype: int64

In [13]:
data['AGE']

0        23
1        28
2        81
3        18
4        36
5        34
6        19
7        84
8        29
9        18
10       68
11       48
12       31
13       55
14       54
15       51
16       38
17       40
18       54
19       21
20       25
21       22
22       77
23       34
24       36
25       41
26       31
27       33
28       37
29       57
         ..
43063    31
43064    65
43065    36
43066    24
43067    24
43068    18
43069    46
43070    88
43071    52
43072    37
43073    91
43074    18
43075    19
43076    21
43077    18
43078    19
43079    18
43080    18
43081    18
43082    37
43083    34
43084    21
43085    51
43086    21
43087    18
43088    18
43089    19
43090    18
43091    29
43092    18
Name: AGE, dtype: int64

In [14]:
data['AGE']=data['AGE'].convert_objects(convert_numeric=True)

In [15]:
data['AGE']

0        23
1        28
2        81
3        18
4        36
5        34
6        19
7        84
8        29
9        18
10       68
11       48
12       31
13       55
14       54
15       51
16       38
17       40
18       54
19       21
20       25
21       22
22       77
23       34
24       36
25       41
26       31
27       33
28       37
29       57
         ..
43063    31
43064    65
43065    36
43066    24
43067    24
43068    18
43069    46
43070    88
43071    52
43072    37
43073    91
43074    18
43075    19
43076    21
43077    18
43078    19
43079    18
43080    18
43081    18
43082    37
43083    34
43084    21
43085    51
43086    21
43087    18
43088    18
43089    19
43090    18
43091    29
43092    18
Name: AGE, dtype: int64

In [16]:
data['TAB12MDX'] = data['TAB12MDX'].convert_objects(convert_numeric=True)
data['CHECK321'] = data['CHECK321'].convert_objects(convert_numeric=True)
data['S3AQ3B1'] = data['S3AQ3B1'].convert_objects(convert_numeric=True)
data['S3AQ3C1'] = data['S3AQ3C1'].convert_objects(convert_numeric=True)
data['AGE'] = data['AGE'].convert_objects(convert_numeric=True)

In [17]:
c1 = data['TAB12MDX'].value_counts(sort=False)
print c1

0    38131
1     4962
dtype: int64

In [18]:
p1 = data['TAB12MDX'].value_counts(sort=False, normalize=True)

In [19]:
print (p1)

0    0.884854
1    0.115146
dtype: float64

In [20]:
data['TAB12MDX']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       1
11       0
12       0
13       0
14       1
15       0
16       0
17       1
18       0
19       0
20       1
21       0
22       1
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
43063    0
43064    0
43065    0
43066    0
43067    0
43068    0
43069    0
43070    0
43071    0
43072    0
43073    0
43074    0
43075    0
43076    0
43077    0
43078    0
43079    0
43080    0
43081    0
43082    0
43083    0
43084    0
43085    0
43086    0
43087    0
43088    0
43089    0
43090    1
43091    1
43092    0
Name: TAB12MDX, dtype: int64

In [21]:
sub1 = data[(data['AGE']>=18) & (data['AGE']<=25)&(data['CHECK321']==1)]

In [22]:
sub2 = sub1.copy()

In [23]:
print('counts for original S3AQ3B1')
c1 = sub2['S3AQ3B1'].value_counts(sort=False)
print(c1)

counts for original S3AQ3B1
1    1320
2      68
3      91
4      88
5      65
6      71
9       3
dtype: int64

In [24]:
sub2['S3AQ3B1'] = sub2['S3AQ3B1'].replace(9, numpy.nan)

In [25]:
data['S3AQ3C1']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10       20
11        5
12      NaN
13       20
14       20
15      NaN
16        2
17       20
18       10
19      NaN
20        3
21      NaN
22       99
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
43063   NaN
43064   NaN
43065   NaN
43066   NaN
43067   NaN
43068   NaN
43069   NaN
43070    10
43071   NaN
43072   NaN
43073    20
43074   NaN
43075   NaN
43076   NaN
43077   NaN
43078   NaN
43079   NaN
43080   NaN
43081   NaN
43082   NaN
43083    20
43084   NaN
43085   NaN
43086   NaN
43087     5
43088   NaN
43089   NaN
43090     3
43091    20
43092   NaN
Name: S3AQ3C1, dtype: float64

In [26]:
c2=data['S3AQ3C1'].value_counts(sort=False)

In [27]:
c2

1      934
2      884
3      923
4      573
5     1070
6      463
7      269
8      299
9       49
10    3077
11      23
12     230
13      34
14      25
15     851
16      40
17      22
18      59
19       5
20    5366
21       1
22      10
23       2
24       7
25     155
27       2
28       3
29       3
30     909
33       1
34       1
35      30
37       2
39       1
40     993
45       8
50     106
55       2
57       1
60     241
66       1
70      12
75       2
80      47
98      15
99     262
dtype: int64

In [28]:
sub2['S3AQ3B1']

20       1
76       2
102      1
121      1
135      1
149      1
154      1
173      1
177      1
183      1
187      4
209      1
219      3
222      1
278      1
336      1
363      1
398      2
412      1
417      1
508      1
511      5
519      1
522      1
529      1
539      1
541      1
628      1
681      4
712      5
        ..
42365    1
42367    6
42372    1
42399    6
42410    5
42420    1
42427    6
42429    1
42432    3
42440    1
42447    1
42484    1
42563    1
42574    1
42627    1
42630    4
42642    1
42644    1
42676    1
42732    1
42734    1
42753    1
42778    1
42784    1
42850    1
42940    1
42989    4
42997    1
43087    1
43090    6
Name: S3AQ3B1, dtype: float64

In [29]:
print('counts for original S3AQ3B1')
c1 = sub2['S3AQ3B1'].value_counts(sort=False)
print(c1)

counts for original S3AQ3B1
1    1320
2      68
3      91
4      88
5      65
6      71
dtype: int64

In [30]:
data.loc[(data['S2AQ3']!=9) &(data['S2AQ8A'].isnull()), 'S2AQ8A']=11

In [31]:
recode1 = {1:6, 2:5, 3:4, 4:3, 5:2, 6:1}
sub2['USFRQ']= sub2['S3AQ3B1'].map(recode1)

In [32]:
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi

## Setting variables you will be working with to numeric

In [33]:
data['S3AQ3B1']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10        1
11        1
12      NaN
13        1
14        1
15      NaN
16        5
17        1
18        1
19      NaN
20        1
21      NaN
22        1
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
43063   NaN
43064   NaN
43065   NaN
43066   NaN
43067   NaN
43068   NaN
43069   NaN
43070     1
43071   NaN
43072   NaN
43073     1
43074   NaN
43075   NaN
43076   NaN
43077   NaN
43078   NaN
43079   NaN
43080   NaN
43081   NaN
43082   NaN
43083     1
43084   NaN
43085   NaN
43086   NaN
43087     1
43088   NaN
43089   NaN
43090     6
43091     1
43092   NaN
Name: S3AQ3B1, dtype: float64

In [36]:
data['S3AQ3B1']= data['S3AQ3B1'].convert_objects(convert_numeric=True)
data['S3AQ3C1'] = data['S3AQ3C1'].convert_objects(convert_numeric=True)
data['CHECK321'] = data['CHECK321'].convert_objects(convert_numeric=True)

## Subset data to young adults age 18 to 25 who have smoked in the past 12 months

In [40]:
sub1=data[(data['AGE']>=18) & (data['AGE']<=25) & (data['CHECK321']==1)]

## Setting missing data

In [41]:
sub1['S3AQ3B1']= sub1['S3AQ3B1'].replace(9,numpy.nan)

C:\Users\suh0902\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [42]:
sub1['S3AQ3B1']

20       1
76       2
102      1
121      1
135      1
149      1
154      1
173      1
177      1
183      1
187      4
209      1
219      3
222      1
278      1
336      1
363      1
398      2
412      1
417      1
508      1
511      5
519      1
522      1
529      1
539      1
541      1
628      1
681      4
712      5
        ..
42365    1
42367    6
42372    1
42399    6
42410    5
42420    1
42427    6
42429    1
42432    3
42440    1
42447    1
42484    1
42563    1
42574    1
42627    1
42630    4
42642    1
42644    1
42676    1
42732    1
42734    1
42753    1
42778    1
42784    1
42850    1
42940    1
42989    4
42997    1
43087    1
43090    6
Name: S3AQ3B1, dtype: float64

In [43]:
sub1['S3AQ3C1']=sub1['S3AQ3C1'].replace(99, numpy.nan)

C:\Users\suh0902\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## Recoding number of days smoked in the past month

In [44]:
recode1 = {1: 30, 2: 22, 3: 14, 4: 5, 5: 2.5, 6:1}
sub1['USFREQMO'] = sub1['S3AQ3B1'].map(recode1)

C:\Users\suh0902\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

## Converting new variable USFREQMMO to numeric

In [45]:
sub1['USFREQMO']= sub1['USFREQMO'].convert_objects(convert_numeric=True)

C:\Users\suh0902\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## Creating a secondary variable multiplying the days smoked/month and the number of cig/per day

In [46]:
sub1['NUMCIGMO_EST']=sub1['USFREQMO'] * sub1['S3AQ3C1']
sub1['NUMCIGMO_EST']= sub1['NUMCIGMO_EST'].convert_objects(convert_numeric=True)

C:\Users\suh0902\Anaconda\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\suh0902\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [47]:
ct1 = sub1.groupby('NUMCIGMO_EST').size()
print (ct1)

NUMCIGMO_EST
1.0        29
2.0        14
2.5        11
3.0        12
4.0         2
5.0        34
6.0         1
7.5        12
8.0         1
10.0       38
12.5        9
14.0        3
15.0       14
17.5        1
20.0       13
22.0        4
24.0        1
25.0       14
28.0       17
30.0       25
35.0        2
42.0       19
44.0        9
50.0        7
56.0       15
60.0       28
66.0       14
70.0       22
84.0        3
88.0        6
         ...
140.0      10
150.0     108
154.0       3
176.0       3
180.0      47
210.0      39
220.0      12
240.0      36
270.0       6
280.0       1
300.0     350
330.0       4
360.0      25
390.0       7
420.0       2
450.0      97
480.0       5
510.0       2
540.0       3
570.0       1
600.0     357
750.0      13
810.0       1
840.0       1
900.0      38
1050.0      1
1200.0     29
1800.0      2
2400.0      1
2940.0      1
dtype: int64

## Using ols function for calculating the F-statistic and associated p value

In [50]:
model1 = smf.ols(formula = 'NUMCIGMO_EST ~ C(MAJORDEPLIFE)', data = sub1)
results1 = model1.fit()
print (results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           NUMCIGMO_EST   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     3.550
Date:                Sun, 08 Nov 2015   Prob (F-statistic):             0.0597
Time:                        14:38:59   Log-Likelihood:                -11934.
No. Observations:                1697   AIC:                         2.387e+04
Df Residuals:                    1695   BIC:                         2.388e+04
Df Model:                           1
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------------
Intercept              312.8380      7.747     40.381      0.000       297.643   328.033
C(MAJORDEPLIFE)[T.1]    28.5370     15.146      1.884      0.060        -1.169    58.243
==============================================================================
Omnibus:                      673.875   Durbin-Watson:                   1.982
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5043.141
Skew:                           1.672   Prob(JB):                         0.00
Kurtosis:                      10.755   Cond. No.                         2.46
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [52]:
sub2 = sub1[['NUMCIGMO_EST','MAJORDEPLIFE']].dropna()

In [53]:
print ('means for numcigmo_est by major depression status')
m1 = sub2.groupby('MAJORDEPLIFE').mean()
print (m1)

means for numcigmo_est by major depression status
              NUMCIGMO_EST
MAJORDEPLIFE
0               312.837989
1               341.375000

In [54]:
print ('standard deviations for numcigmo_est by major depression status')
sd1 = sub2.groupby('MAJORDEPLIFE').std()
print (sd1)

standard deviations for numcigmo_est by major depression status
              NUMCIGMO_EST
MAJORDEPLIFE
0               269.002344
1               288.495118

## i will call it sub3

In [55]:
sub3 = sub1[['NUMCIGMO_EST', 'ETHRACE2A']].dropna()

In [56]:
model2 = smf.ols(formula='NUMCIGMO_EST ~ C(ETHRACE2A)', data=sub3).fit()
print (model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           NUMCIGMO_EST   R-squared:                       0.055
Model:                            OLS   Adj. R-squared:                  0.052
Method:                 Least Squares   F-statistic:                     24.40
Date:                Sun, 08 Nov 2015   Prob (F-statistic):           1.18e-19
Time:                        15:29:36   Log-Likelihood:                -11888.
No. Observations:                1697   AIC:                         2.379e+04
Df Residuals:                    1692   BIC:                         2.381e+04
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------
Intercept           368.7865      8.229     44.814      0.000       352.646   384.927
C(ETHRACE2A)[T.2]  -109.5127     20.189     -5.424      0.000      -149.111   -69.914
C(ETHRACE2A)[T.3]   -57.7984     42.038     -1.375      0.169      -140.250    24.653
C(ETHRACE2A)[T.4]  -124.5279     36.033     -3.456      0.001      -195.201   -53.854
C(ETHRACE2A)[T.5]  -149.0283     16.795     -8.873      0.000      -181.969  -116.087
==============================================================================
Omnibus:                      712.397   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6548.614
Skew:                           1.717   Prob(JB):                         0.00
Kurtosis:                      11.990   Cond. No.                         6.72
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
print ('means for numcigmo_est by major depression status')
m2= sub3.groupby('ETHRACE2A').mean()
print (m2)

means for numcigmo_est by major depression status
           NUMCIGMO_EST
ETHRACE2A
1            368.786528
2            259.273810
3            310.988095
4            244.258621
5            219.758258

In [58]:
print ('standard deviations for numcigmo_est by major depression status')
sd2 = sub3.groupby('ETHRACE2A').std()
print (sd2)

standard deviations for numcigmo_est by major depression status
           NUMCIGMO_EST
ETHRACE2A
1            281.430730
2            278.677392
3            260.116964
4            195.076441
5            220.859365

In [59]:
mc1 = multi.MultiComparison(sub3['NUMCIGMO_EST'], sub3['ETHRACE2A'])
res1 = mc1.tukeyhsd()
print(res1.summary())

Multiple Comparison of Means - Tukey HSD,FWER=0.05
==================================================
group1 group2  meandiff   lower     upper   reject
--------------------------------------------------
  1      2    -109.5127 -164.6441  -54.3814  True
  1      3     -57.7984 -172.5914  56.9945  False
  1      4    -124.5279 -222.9229  -26.1329  True
  1      5    -149.0283  -194.89  -103.1665  True
  2      3     51.7143   -71.6021  175.0307 False
  2      4     -15.0152  -123.233  93.2026  False
  2      5     -39.5156 -103.8025  24.7714  False
  3      4     -66.7295 -214.5437  81.0848  False
  3      5     -91.2298 -210.6902  28.2305  False
  4      5     -24.5004 -128.3027   79.302  False
--------------------------------------------------